
    <footer class="flex text-white">
        <a href="/"><img class="footer-logo" src="/images/new.png" alt="logo" /></a>
        <a href="https://www.themoviedb.org/"><img  class="attribution" src="/images/tmdbLogo.svg" alt="the movie db logo"></a>
        <p>Terms of Use</p>
        <p>Privacy Policy</p>
        <p>LinkedIn</p>
        <a href="https://github.com/ctrich/" target="_blank"><img src="/images/GitHub-Mark-Light-64px.png" alt="github logo"></a>
    </footer>
    </body>
</html>