<header class="primary-header flex text-white">
  <div class="logo-container">
    <img class="logo" src="/images/new.png" alt="logo" />
  </div>
  <button class="mobile-nav-toggle" aria-controls="primary-navigation">
    <span class="sr-only" aria-expanded="false">Menu</span>
  </button>
  <div class="search-bar-container">
    <input class="search-bar" type="search" placeholder="Search" />
  </div>

  
    
  <nav>
    <ul
      id="primary-navigation"
      data-visible="false" 
      class="primary-navigation flex text-white fs-200 ff-sans-cond"
    >
      <li><a href="#">Home</a></li>
      <li><a href="#">Movies</a></li>
      <li class="no-wrap"><a href="#">TV Shows</a></li>
      <li><a href="#">Watchlist</a></li>
      <% if (loggedIn) {%>
      <li class="sign-in-nav no-wrap"><a id="sign-out" href="/logout">Sign Out</a></li> 
      <% } else { %>
      <li id="sign-in" class="sign-in-nav no-wrap">Sign In</li>
      <% } %>
    </ul>
  </nav>
</header>
