<header class="primary-header flex text-white">
  <div>
    <img class="logo" src="/images/new.png" alt="logo" />
  </div>
  <button class="mobile-nav-toggle" aria-controls="primary-navigation">
    <span class="sr-only" aria-expanded="false">Menu</span>
  </button>
  <nav>
    <ul
      class="primary-navigation flex text-white uppercase fs-300 ff-sans-cond"
    >
      <li>Home</li>
      <li class="li-search-bar">
        <input
          class="search-bar"
          type="search"
          placeholder="Search for a movie or TV show"
        />
      </li>
      <li>Movies</li>
      <li class="no-wrap">TV Shows</li>
      <li>Watchlist</li>
      <li>Login</li>
    </ul>
  </nav>
</header>
