<header class="primary-header flex text-white">
  <div>
    <img class="logo" src="/images/new.png" alt="logo" />
  </div>
  <button class="mobile-nav-toggle" aria-controls="primary-navigation">
    <span class="sr-only" aria-expanded="false">Menu</span>
  </button>
  <div class="search-bar-container">
    <input class="search-bar" type="search" placeholder="Search" />
  </div>
  
  <nav>
    <ul
      class="primary-navigation flex text-white fs-200 ff-sans-cond"
    >
      <li>Home</li>
      <li>Movies</li>
      <li class="no-wrap">TV Shows</li>
      <li>Watchlist</li>
      <li>Sign In</li>
    </ul>
  </nav>
</header>
