  <header class="primary-header flex text-white">
    <div class="logo-container">
      <img class="logo" src="/images/new.png" alt="logo" />
    </div>
    <button class="mobile-nav-toggle" aria-controls="primary-navigation">
      <span class="sr-only" aria-expanded="false">Menu</span>
    </button>
    <div class="search-bar-container">
      <form action="/search/" method="GET">
        <input class="search-bar" name="query" type="search" placeholder="Search" />
        <input type="submit" hidden>
      </form>
    </div>
    <nav>
      <ul id="primary-navigation" data-visible="false" class="primary-navigation flex text-white fs-200 ff-sans-cond">
        <li><a href="/">Home</a></li>
        <li id="movie">Movies
          <ul class="movie-sub" data-visible="false">
            <a class="sub-menu--item" href="/movies/popular"><li>Popular</li></a>
            <a class="sub-menu--item" href="/movies/upcoming"><li>Upcoming</li></a>
            <a class="sub-menu--item" href="/movies/nowPlaying"><li>Now Playing</li></a>
            <a class="sub-menu--item" href="/movies/topRated"><li>Top Rated</li></a>
          </ul>
        </li>
        <li id="tv"class="no-wrap">TV Shows
          <ul class="tv-sub" data-visible="false">
            <a class="sub-menu--item" href="/tv/popular"><li>Popular</li></a>
            <a class="sub-menu--item" href="/tv/onAir"><li>On Air</li></a>
            <a class="sub-menu--item" href="/tv/topRated"><li>Top Rated</li></a>
            <a class="sub-menu--item" href="/tv/airingToday"><li>Airing Today</li></a>
          </ul>
        </li>
        <li><a href="/watchlist/">Watchlist</a></li>
        <% if (loggedIn) {%>
        <li class="sign-in-nav no-wrap"><a id="sign-out" href="/logout">Sign Out</a></li>
        <% } else { %>
        <li id="sign-in" class="sign-in-nav no-wrap">Sign In</li>
        <% } %>
      </ul>
    </nav>
  </header>