<div 
    data-visible="false" 
    class="sign-in-modal">
    <img class="sign-in-close" src="images/x-mark-48.png" alt="close">
    <h1>Sign <span>In</span></h1>
    <button class="sign-in-button">Sign in with Google</button>
    <button class="sign-in-button">Sign in with Facebook</button>
    <button class="sign-in-button">Sign in with email/password</button>
    <button class="sign-in-button">Create an account</button>
</div>