<div 
    data-visible="false"
    class="modal-container"
    >
    <img
        id="modal-close"
        class="sign-in-close" 
        src="images/x-mark-48.png" 
        alt="close"
        >
    <div 
        id="modal-main"
        data-visible="true"
        class="sign-in-modal modal-main">
        <h1>Sign <span>In</span></h1>
        <form action="/auth/google" method="GET">
            <button id="btn-sign-google" type="submit" class="sign-in-button">Sign in with Google</button>
        </form>
        <button id="btn-sign-facebook" class="sign-in-button">Sign in with Facebook</button>
        <button id="btn-sign-email" class="sign-in-button">Sign in with email/password</button>
        <button id="btn-create" class="sign-in-button">Create an account</button>
    </div>
    <div 
        id="modal-create"
        data-visible="false" 
        class="sign-in-modal modal-create">
        <h1>Create account</h1>
        <button class="sign-in-button">Sign up with Google</button>
        <button class="sign-in-button">Sign up with Facebook</button>
        <button id="btn-create--email" class="sign-in-button">Sign up with email/password</button>
    </div>
    <div 
        id="modal-create--email"
        data-visible="false" 
        class="sign-in-modal modal-create--email form">
        <h1>Sign up with email</h1>
        <form action="#" method="POST">
            <label for="create-email">
                <input id="create-email" type="email" placeholder="email">
            </label>
            <label for="create-password">
                <input id="create-password" type="password" placeholder="password">
            </label>
            <label for="confirm-password">
                <input id="confirm-password" type="password" placeholder="confirm password">
            </label>
            <input class="btn-create" type="submit" value="Create">
        </form>
    </div>
    <div 
        id="modal-signin--email"
        data-visible="false" 
        class="sign-in-modal modal-signin--email form">
        <h1>Sign <span>In</span></h1>
        <form action="#" method="POST">
            <label for="email">
                <input id="email" type="email" placeholder="email">
            </label>
            <label for="password">
                <input id="password" type="password" placeholder="password">
            </label>
            <input class="btn-create" type="submit" value="Sign In">
        </form>
    </div>
</div>
