<div class="scroller-container flex text-white">
    <ul class="flex">
        <% media.forEach(media => { %>
            <%- include('mediaCard.ejs', { media: media }); %>
        <% }) %>
    </ul>
</div>