<div class="scroller-container flex text-white">
    <% shows.forEach(show => { %>
    <div class="scroller-card">
      <img 
        loading="lazy" 
        class="scroller-poster"
        srcset="<%= `${imageURL}w342${show.poster_path} 342w,
            ${imageURL}w500${show.poster_path} 500w` %>"  
        sizes="(max-width: 500px) 342px,
        500px"
        height="750" 
        width="500" 
          
        alt="" 
        />
        <h4 class="text-center"><%= show.name %></h4>
    </div>
<% }) %>
</div>