<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Streamlabs | Home</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <script src="/javascript/index.js" defer></script>
  </head>
  <body class="bg-dark">
    <header class="primary-header flex text-white">
      <div>
        <img class="logo" src="/images/logoCrop.png" alt="logo" />
      </div>
      <button class="mobile-nav-toggle" aria-controls="primary-navigation">
        <span class="sr-only" aria-expanded="false">Menu</span>
      </button>
      <nav>
        <ul class="primary-navigation flex text-white uppercase fs-300">
          <li>Home</li>
          <li><input type="search" /></li>
          <li>Movies</li>
          <li class="no-wrap">TV Shows</li>
          <li>Watchlist</li>
          <li>Login</li>
        </ul>
      </nav>
    </header>
    <main></main>
  </body>
</html>
